<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93938a">  <td>20/10/11 12:22:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="User_Login_and_logout.User_Logout()[pri:0, instance:PetStoreAPITesting.User_Login_and_logout@2473d930]">User_Logout</td> 
  <td>main@1209702763</td>   <td></td> </tr>
<tr bgcolor="93938a">  <td>20/10/11 12:22:34</td>   <td>-3980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="User_Login_and_logout.Valid_User_Login()[pri:0, instance:PetStoreAPITesting.User_Login_and_logout@2473d930]">Valid_User_Login</td> 
  <td>main@1209702763</td>   <td></td> </tr>
<tr bgcolor="93938a">  <td>20/10/11 12:22:33</td>   <td>-5439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;User_Login_and_logout.postdata()[pri:0, instance:PetStoreAPITesting.User_Login_and_logout@2473d930]">&gt;&gt;postdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1209702763</td>   <td></td> </tr>
</table>
